@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 1500px;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 150px;
  color: orange;
}

.search-container {
  position: fixed;
  top: 20%; 
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 80%; 
  padding: 20px;
  z-index: 100; 
}

.search-box {
  width: calc(100% - 100px); 
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; 
}

.search-button {
  position: absolute;
  right: 70px; 
  top: 42px; 
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  background: url('send.png') no-repeat center;
  background-size: contain;
  z-index: 101; 
}

.character {
  position: fixed;
  align-content: center;
  left: 10px;
  bottom: 10px;
  width: 600px;
  height: 1000px;
  background: url('character.png') no-repeat;
  background-size: contain;
}

.chat-box {
  text-align: left;
  border: 1px solid #ddd;
  margin: auto;
  padding: 20px;
  width: 80%; 
  height: 200px;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  top: -80%; 
  transform: translate(-50%, -50%);
  z-index: 99; 
  background: url('message-background.png') no-repeat center center;
  background-size: cover;
}


.user-message {
  text-align: right;
  margin: 5px;
  padding: 5px;
  background-color: #e7f3ff; 
  border-radius: 5px;
  clear: both;
}


.ai-message {
  text-align: left;
  margin: 5px;
  padding: 5px;
  background-color: #f1e7ff; 
  border-radius: 5px;
  clear: both;
}

